@page "/tasks"
@using System.Threading.Tasks
@attribute [Authorize]
@inject ISnackbar _snackbarProvider
@inject ITaskService _taskService

<MudGrid>
    <MudItem xs="12" sm="6" md="4">
        <MudPaper>
            <div style="padding: 15px">
                <MudStack>
                    <MudTextField @bind-Value="_title" Label="Titolo" />
                    <MudTextField @bind-Value="_description" Label="Descrizione" />
                    <MudDatePicker @bind-Date="_expireDate" Label="Data" />
                    <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="AddTask">Aggiungi</MudButton>
                </MudStack>
            </div>
        </MudPaper>
    </MudItem>

    <MudItem xs="0" sm="6" md="8" />

    <MudItem>
        <MudCard Style="margin-top: 20px">
            <MudCardHeader>
                <CardHeaderContent><MudText Typo="Typo.h6">Task list</MudText></CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudStack Row>
                    @{
                        if (_items == null || _items.Count == 0)
                        {
                            <MudText>Nessun elemento presente</MudText>
                        }
                        else
                        {
                            foreach (var item in _items)
                            {
                                <TaskComponent Value="item" ValueChanged="OnValueChanged" />
                            }
                        }
                    }
                </MudStack>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>
@code {
    string _title;
    string _description;
    DateTime? _expireDate;

    List<TaskItem> _items;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _title = string.Empty;
        _description = string.Empty;
        _expireDate = DateTime.Now;
        _items = new();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            var result = await _taskService.GetAll();

            if (result != null)
            {
                _items = result.ToList();
                await InvokeAsync(() => StateHasChanged());
            }
        }
    }

    private async Task AddTask()
    {
        if (string.IsNullOrWhiteSpace(_title))
        {
            _snackbarProvider.Add("Il titolo non può essere nullo");
            return;
        }

        if (string.IsNullOrWhiteSpace(_description))
        {
            _snackbarProvider.Add("La descrizione non può essere nulla");
            return;
        }

        if (_expireDate.HasValue == false)
        {
            _snackbarProvider.Add("La data di scadenza non può essere nulla");
            return;
        }

        var newItem = new TaskItem() { Title = _title, Description = _description, ExpireDate = _expireDate };
        var saveResult = await _taskService.Save(newItem);

        if (saveResult)
            _items.Add(newItem);

    }

    private async void OnValueChanged(TaskItem value)
    {
        var newItem = new TaskItem() { Title = _title, Description = _description, ExpireDate = _expireDate };
        var saveResult = await _taskService.Save(newItem);

        if (saveResult)
            _snackbarProvider.Add("Valore Modificato", Severity.Success);
    }
}
